app = "damp-meadow-6256"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  JAVA_OPTS = "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "15s"
    timeout = "5s"
    grace_period = "60s"
    restart_limit = 0
    method = "get"
    path = "/actuator/health"
    protocol = "http"